{% extends "layout.html" %}
{% block content %}

    {% for post in posts %}

        <h2>Question {{ post.Number }}</h2>
        <h3> {{ post.Statement }}</h3>
            {% for choice in post.Choices %}
    <form>
        <input type="radio" class="my-radio" name="choice" id="{{ post.Number }}{{ choice[0] }}" value="{{ choice[0] }}">
        {{ choice[1] }}
        </input><br>
            {% endfor %}
    </form>
    {% endfor %}
<p id="output"></p>

<script type="text/javascript">
let choices = [];
let radios = document.getElementsByClassName("my-radio");

for (let radio of radios) {
  radio.addEventListener("change", (event) => {
    choices.push(event.target.id);
    document.getElementById("output").innerHTML = choices;
  });
}
</script>

{% endblock content %}