{% extends "layout.html" %}
{% block content %}

    {% for post in posts %}

        <h2>Question {{ post.Number }}</h2>
        <h3> {{ post.Statement }}</h3>
            {% for choice in post.Choices %}
    <form>
        <input type="radio" class="my-radio" name="choice" id="{{ post.Number }}{{ choice[0] }}" value="{{ choice[0] }}">
        {{ choice[1] }}
        </input><br>
            {% endfor %}
    </form>
    {% endfor %}
<!--Displays JSON of selections-->
<!--Variable is called `choices` need to submit this "form" to my database-->
<!--<p id="output"></p>-->
<!--Include button for form submit-->

<script type="text/javascript">
let choices = [];
let radios = document.getElementsByClassName("my-radio");

for (let radio of radios) {
  radio.addEventListener("change", (event) => {
    choices.push({selected_id:event.target.id, timestamp:Date.now()});
    document.getElementById("output").innerHTML = JSON.stringify(choices);
  });
}
</script>

{% endblock content %}